---
layout: core.njk
---

<h1>{{ title }}</h1>
<div class="post-metadata">
  <span class="post-date">{{ date }}</span>
</div>

<div class="post-content">
  {{ content | safe }}
</div>

<div class="post-navigation">
  <div class="prev-next">
    {% if previousPost or nextPost %}
      {% if previousPost %}
        <a href="/blog/{{ previousPost }}/" class="prev-post" hx-get="/partials/blog/{{ previousPost }}/" hx-target="#tab-content" hx-push-url="/blog/{{ previousPost }}/" hx-swap="innerHTML transition:true">
          &larr; Previous Post
        </a>
      {% endif %}
      
      {% if nextPost %}
        <a href="/blog/{{ nextPost }}/" class="next-post" hx-get="/partials/blog/{{ nextPost }}/" hx-target="#tab-content" hx-push-url="/blog/{{ nextPost }}/" hx-swap="innerHTML transition:true">
          Next Post &rarr;
        </a>
      {% endif %}
    {% endif %}
  </div>
  
  <a href="/" class="back-to-blog" hx-get="/partials/" hx-target="#tab-content" hx-push-url="/" hx-swap="innerHTML transition:true">
    Back to Blog List
  </a>
</div> 