:root {
    --bs-font-sans-serif:"Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

.pfp {
    width: 250px;
    height: 250px;
}

.icon {
    width: 175px;
}

.screenshot {
    width: 175px;
}

.clamp {
    max-width: 300px;
}

.btn-icon {
    height: 24px;
}

.btn-github {
    --bs-btn-bg: #6e40c9;
    --bs-btn-color: #ffffff;
    --bs-btn-hover-bg: #7E49E6;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-active-bg: #8C51FF;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-border-color: #8C51FF;
}

.btn-linkedin {
    --bs-btn-bg: #0A66C2;
    --bs-btn-color: #ffffff;
    --bs-btn-hover-bg: #0C76E0;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-active-bg: #0E86FF;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-border-color: #0E86FF;
}

p {
    letter-spacing: -0.019em;
}