---
layout: scaffold.njk
---

<!-- Dummy element to get htmx to fetch the stylesheet -->
<span></span>
<link rel="stylesheet" href="/styles/components/blog.css" />

<h1>{{ title }}</h1>
<div class="post-metadata">
  <span class="post-date">{{ date }}</span>
</div>

<div class="post-content">
  {{ content | safe }}
</div>

<div class="post-navigation">
  <div class="blog-buttons">
    {% if previousPost or nextPost %}
      {% if previousPost %}
        <a href="/blog/{{ previousPost }}/" class="hex-button prev-post" hx-get="/partials/blog/{{ previousPost }}/" hx-target="#tab-content" hx-push-url="/blog/{{ previousPost }}/" hx-swap="innerHTML transition:true">
          &larr; Previous Post
        </a>
      {% endif %}
      
  
    <a href="/" class="hex-button back-to-blog" hx-get="/partials/" hx-target="#tab-content" hx-push-url="/" hx-swap="innerHTML transition:true">
      Back to Home
    </a>

      {% if nextPost %}
        <a href="/blog/{{ nextPost }}/" class="hex-button next-post" hx-get="/partials/blog/{{ nextPost }}/" hx-target="#tab-content" hx-push-url="/blog/{{ nextPost }}/" hx-swap="innerHTML transition:true">
          Next Post &rarr;
        </a>
      {% endif %}
    {% endif %}
  </div>
</div>